@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-font-family: "Roboto Mono", monospace, system-ui, Avenir, Helvetica, Arial, sans-serif; /* font-body class */
  --number-font-family: "Roboto", sans-serif; /* font-number class */

  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--body-font-family);
  background: var(--background);
  transition: background-color 0.3s ease;
}